<div class="card my-2 p-0">
    <div class="card-header header">
        <h1 class="m-2">{{ 'NAV.PEOPLE' | translate }}</h1>
    </div>
</div>
<div style="margin: auto; max-width: 100%; margin-bottom: 5px;">
    <div class="row">
    <div class="col-auto mr-auto">
        <button *ngIf="auth.canAdd(authUser)" type="button" class="btn btn-primary" (click)="addPerson()">{{ 'PERSON.ADD_NEW_PERSON' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="refresh()">{{ 'SHARED.REFRESH' | translate }}</button>
    </div>
    <form [formGroup]="searchForm" class="form-inline my-lg-0 col-auto" novalidate>
        <input formControlName="searchText" class="form-control" type="search" placeholder="Search" aria-label="Search">
    </form>
    </div>
    <data-table class="table table-bordered table-hover" id="persons-grid"
        headerTitle=""
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"

        [pagination]="true"
        [indexColumn]="true"
        [indexColumnHeader]="'#'"
        [expandableRows]="false"

        [rowTooltip]="rowTooltip"
        >
        <data-table-column *ngIf="false"
        [header]="'SHARED.VIEW' | translate"
        [width]="'75px'">
        <ng-template #dataTableCell let-item="item">
            <a (click)="view(item.id)" role="button"><i class="fa fa-eye fa-sm"></i></a>
        </ng-template>
    </data-table-column>
        <data-table-column
            [property]="'national_id'"
            [header]="'PERSON_LIST.NATIONAL_ID' | translate"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'first_name'"
            [header]="'PERSON_LIST.FIRST_NAME' | translate"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'middle_name'"
            [header]="'PERSON_LIST.MIDDLE_NAME' | translate"
            [sortable]="true"
            [resizable]="true"
            [visible]="false">
        </data-table-column>
        <data-table-column
            [property]="'last_name'"
            [header]="'PERSON_LIST.LAST_NAME' | translate"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'gender'"
            [header]="'PERSON_LIST.GENDER' | translate"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'qualification'"
            [header]="'PERSON_LIST.QUALIFICATION' | translate"
            [sortable]="true"
            [resizable]="true"
            [visible]="false">
        </data-table-column>
        <data-table-column
            [property]="'facility'"
            [header]="'PERSON_LIST.FACILITY' | translate"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column *ngIf="authUser.roles.admin || authUser.roles.sitecoordinator" 
            [header]="'SHARED.ACTION' | translate">
            <ng-template #dataTableCell let-item="item">
            <div class="btn-group" role="group" aria-label="Action">
                <button *ngIf="auth.canEdit(authUser)" type="button" class="btn btn-sm btn-info" (click)="addPerson(item.id)">
                <i class="fa fa-pencil-square-o fa-lg"></i> {{ 'SHARED.EDIT' | translate }}
                </button>
                <button *ngIf="auth.canDelete(authUser)" type="button" class="btn btn-sm btn-danger" (click)="delete(item)">
                    <i class="fa fa-trash-o fa-lg"></i> {{ 'SHARED.DELETE' | translate }}
                </button>
            </div>
            </ng-template>
        </data-table-column>
    </data-table>
</div>
