<div class="modal-header text-white bg-primary">
  <h4 *ngIf="!id; else elsetitle" class="modal-title">{{'TRAINING.ADD_NEW_TRAINING' | translate}}</h4>
  <ng-template #elsetitle>
    <h4 class="modal-title">{{'TRAINING.EDIT_TRAINING' | translate}}</h4>
  </ng-template>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="training && (training.is_completed === 1 || training.is_approved === 2)" class="alert alert-danger" role="alert">
    The training has been marked as {{ training.is_approved === 2 ? 'rejected'  : 'completed'}}. The details cannot be edited.
  </div>
  <form [formGroup]="trainingForm" novalidate>
    <div class="form-row">
      <div class="col-md-12">
        <span class="float-right mr-2">Total Trainers: {{getTrainers()}}</span>
        <span class="float-right mr-2">Total Participants: {{getParticipants()}}</span>
      </div>
    </div>
    <!-- Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="participants-tab" data-toggle="tab" href="#participants" role="tab" aria-controls="participants" aria-selected="false">Participants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="trainers-tab" data-toggle="tab" href="#trainers" role="tab" aria-controls="trainers" aria-selected="false">Trainers</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        
        <app-add-training-general 
          [form]="trainingForm" 
          [display]="display" 
          [categoryoptions]="categoryoptions" 
          [filteredsubcategoryoptions]="filteredsubcategoryoptions"
          [filteredtitleoptions]="filteredtitleoptions"
          [trainingorganizeroptions]="trainingorganizeroptions"
          [trainingleveloptions]="trainingleveloptions"
          [pepfaroptions]="pepfaroptions"
          [locations]="locations" 
          [trainingintervaloptions]="trainingintervaloptions"
          [locationtype]="locationtype"
          [cpdreadonly]="cpdreadonly">
        </app-add-training-general>

      </div>
      <div class="tab-pane fade" id="participants" role="tabpanel" aria-labelledby="participants-tab">

        <app-add-training-participant 
          [form]="trainingForm" 
          [idcollection]="idcollection" 
          (event)="updateIDCollection($event)">
        </app-add-training-participant>

      </div>
      <div class="tab-pane fade" id="trainers" role="tabpanel" aria-labelledby="trainers-tab">

        <app-add-training-trainer
          [form]="trainingForm" [idcollection]="idcollection" (event)="updateIDCollection($event)">
        </app-add-training-trainer>

      </div>
    </div>
  </form>
  <!-- <p>Is form valid? {{trainingForm.status | json}}</p>
  <pre><code>{{getFormValidationErrors() | json}}</code></pre> -->
</div>
<div class="modal-footer">
  <button *ngIf="(training && training.is_completed !== 1 && training.is_approved !== 2) || !id"   id="btnSubmit" type="button" class="btn btn-sm btn-primary" [disabled]="trainingForm.pristine || trainingForm.invalid" (click)="onSubmit()">{{'SHARED.SUBMIT' | translate}}</button>
  <button type="button" class="btn btn-sm btn-primary" (click)="onCancel()">{{'SHARED.CANCEL' | translate}}</button>
</div>
<!--  -->